@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Carbon";
  src: url("../public/fonts/CarbonGravity-Carbon.otf");
}
@font-face {
  font-family: "Compressed";
  src: url("../public/fonts/CarbonGravity-Compressed.otf");
}
@font-face {
  font-family: "Condensed";
  src: url("../public/fonts/CarbonGravity-Condensed.otf");
}
@font-face {
  font-family: "Expanded";
  src: url("../public/fonts/CarbonGravity-Expanded.otf");
}
@font-face {
  font-family: "Extended";
  src: url("../public/fonts/CarbonGravity-Extended.otf");
}
@font-face {
  font-family: "ExtraCondensed";
  src: url("../public/fonts/CarbonGravity-ExtraCondensed.otf");
}
@font-face {
  font-family: "Normal";
  src: url("../public/fonts/CarbonGravity-Normal.otf");
}
@font-face {
  font-family: "SemiCondensed";
  src: url("../public/fonts/CarbonGravity-SemiCondensed.otf");
}
@font-face {
  font-family: "Wide";
  src: url("../public/fonts/CarbonGravity-Wide.otf");
}
@font-face {
  font-family: "XCompressed";
  src: url("../public/fonts/CarbonGravity-XCompressed.otf");
}
@font-face {
  font-family: "XXCompressed";
  src: url("../public/fonts/CarbonGravity-XXCompressed.otf");
}
@font-face {
  font-family: "XXXCompressed";
  src: url("../public/fonts/CarbonGravity-XXXCompressed.otf");
}
@font-face {
  font-family: "XXXXCompressed";
  src: url("../public/fonts/CarbonGravity-XXXXCompressed.otf");
} */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core body defaults */
/* body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  --hello: -100%;
  padding-bottom: 250px;
} */

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --black: #1c1e21;
  --white: #ffffff;
  --tw-color1: #a855f7;
  --tw-color1-hover: #9333ea;
}

body {
  background: black;
  font-family: "Inter", sans-serif;
  color: var(--white);
  display: flex;
  justify-content: center;
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 2rem;
}
.fontCompress {
  font-family: "__compressed_dbe749";
}
.fontIbm {
  font-family: "IBM Plex Mono", monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
